<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gameloop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gameloop_tvos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AB9DD832681838D00DA2B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB9DDA92681918800DA2B7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABE2692260DD8AA00675C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ABE26B5260DDA4300675C6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
