BasedOnStyle: Google
Standard: Cpp11
ColumnLimit: 80
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Always
SpacesInContainerLiterals: true
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: All
IncludeBlocks: Preserve
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
