# Format: //devtools/kokoro/config/proto/build.proto

# Location of the bash script to run.
build_file: "google3/firebase/app/client/cpp/build_tools/release.sh"

gfile: "/x20/teams/firebase/build_tools/binutils-latest.tar.gz"

action {
  define_artifacts {
    regex: "install-output/*"
    strip_prefix: "install-output/"
  }
}
