name: Android Builds

on: 
  pull_request:
    types: [opened, reopened, synchronize]

env:
  CCACHE_DIR: ${{ github.workspace }}/ccache_dir

jobs:
  build:
    name: android-${{ matrix.os }}-${{ matrix.build_type }}-${{ matrix.architecture }}-${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        architecture: ["x64",]
        include:
        - os: ubuntu-latest
          architecture: "x64"
        - os: macos-latest
          architecture: "x64"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set env variables for subsequent steps (all)
        run: |
          echo "::set-env name=MATRIX_UNIQUE_NAME::${{ matrix.os }}-${{ matrix.architecture }}"
          echo "::set-env name=GHA_INSTALL_CCACHE::1"

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: ${{ matrix.architecture }}

      - name: Add msbuild to PATH
        if: startsWith(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v1.0.1

      - name: Install prerequisites
        shell: bash
        run: |
          build_scripts/android/install_prereqs.sh

      - name: Cache ccache files
        id: cache_ccache
        uses: actions/cache@v2
        with:
          path: ccache_dir
          key: dev-test-ccache-${{ env.MATRIX_UNIQUE_NAME }}

      - name: Build SDK
        shell: bash
        run: |
          build_scripts/android/build.sh android_build .

      - name: Stats for ccache (mac and linux)
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        run: ccache -s

      - name: Print built libraries
        shell: bash
        run: |
          find android_build -name "*.aar"
          find android_build -name "*.jar"
