name: CPP binary SDK packaging
on:
  workflow_dispatch:
    inputs:
      commitId:
        description: 'commit ID to package'

env:
  # Binutils 2.34 released Feb 1, 2020
  binutilsVer: 2.34
  # Demumble v1.1.0 released Nov 13, 2018
  demumbleVer: 1.1.0

jobs:
  printInputs:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "Commit ID: ${{ github.event.inputs.commitId }}"
        echo "Binutils version: ${{ env.binutilsVer }}"
        echo "Demumble version: ${{ env.demumbleVer }}"
        echo _ZN10StringViewC2Ev | c++filt

  buildBinutils:
    runs-on: ubuntu-latest
    steps:
      - name: fetch binutils source
        run: curl -L https://ftpmirror.gnu.org/binutils/${{ env.binutilsVer }}.tar.xz --output ${{ env.binutilsVer }}.tar.xz
      - name: untar binutils source
        run: tar -xf ${{ env.binutilsVer }}.tar.xz
      - name: configure binutils
        run: ./configure --enable-targets=all --prefix=/tmp/binutils
        working-directory: ./${{ env.binutilsVer }}
      - name: make binutils
        run: make
        working-directory: ./${{ env.binutilsVer }}
      - name: install binutils in /tmp/binutils/...
        run: make install
        working-directory: ./${{ env.binutilsVer }}

  buildDemumble:
    runs-on: ubuntu-latest
    steps:
      - name: fetch demumble source
        uses: actions/checkout@v2.3.1
        with:
          repository: https://github.com/nico/demumble
          path: demumble
          ref: ${{ env.demumbleVer }}
      - name: configure demumble
        run: cmake .
        working-directory: ./demumble
      - name: build demumble
        run: cmake --build .
        working-directory: ./demumble
      - name: test demumble
        run: python demumble_test.py
        working-directory: ./demumble
      - name: install demumble in /tmp/demumble
        run: cp -af ./demumble /tmp/demumble
        working-directory: ./demumble
