name: Desktop Builds

on: 
  pull_request:
    types: [opened, reopened, synchronize]
  push:

env:
  CCACHE_DIR: ${{ github.workspace }}/ccache_dir

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.build_type }}-${{ matrix.architecture }}-${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        build_type: ["Release", "Debug"]
        architecture: ["x64",]
        python_version: [3.6]
        include:
        - os: windows-latest
          architecture: "x64"
          vcpkg_triplet: "x64-windows-static"
          msbuild_platform: "x64"
        - os: ubuntu-latest
          architecture: "x64"
          vcpkg_triplet: "x64-linux"
        - os: macos-latest
          architecture: "x64"
          vcpkg_triplet: "x64-osx"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set env variables for subsequent steps (all)
        run: |
          echo "::set-env name=VCPKG_RESPONSE_FILE::external/vcpkg_${{ matrix.vcpkg_triplet }}_response_file.txt"
          echo "::set-env name=PIP_REQUIREMENTS_FILE::external/pip_requirements.txt"
          echo "::set-env name=MATRIX_UNIQUE_NAME::${{ matrix.os }}-${{ matrix.build_type }}-${{ matrix.architecture }}-${{ matrix.python_version }}"

      - name: Cache vcpkg C++ dependencies
        id: cache_vcpkg
        uses: actions/cache@v2
        with:
          path: external/vcpkg/installed
          key: dev-vcpkg-${{ matrix.vcpkg_triplet }}-${{ hashFiles(format('{0}', env.VCPKG_RESPONSE_FILE)) }}-${{ hashFiles('.git/modules/external/vcpkg/HEAD') }}

      - name: Cache ccache files
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        id: cache_ccache
        uses: actions/cache@v2
        with:
          path: ccache_dir
          key: dev-test-ccache-${{ env.MATRIX_UNIQUE_NAME }}

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
          architecture: ${{ matrix.architecture }}

      - name: Install prerequisites(cpp and python dependencies)
        run: |
          python scripts/install_prereqs.py

      - name: Build SDK
        run: |
          python scripts/build.py --build_tests --arch "${{ matrix.architecture }}" --config "${{ matrix.build_type }}"

      - name: Stats for ccache (mac and linux)
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos')
        run: ccache -s

      - name: Print built libraries
        shell: bash
        run: |
          find build -name "*.lib"
          find build -name "*.dll"
          find build -name "*.dylib"
          find build -name "*.a"
          find build -name "*.so"

      - name: Prep crash support (linux)
        # Ensures directory structure is in place to capture core files on Linux. 
        if: startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          echo '/tmp/cores/core.%E' | sudo tee /proc/sys/kernel/core_pattern
          sudo mkdir -p /tmp/cores/
          sudo rm -rf /tmp/cores/*
          
      - name: Prep crash support (mac)
        # Ensures no lingering crashes from the previous run.
        if: startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'macos')
        run: |
          rm -rf ~/Library/Logs/DiagnosticReports/*
          
      - name: Run unit tests (windows & macos)
        if: startsWith(matrix.os, 'windows') || startsWith(matrix.os, 'macos')
        env:
          LANG: en_US
        run: |
          cd build
          ctest --verbose

      - name: Run unit tests (linux)
        # Linux exists as its own standalone execution step in order to invoke
        # platform-specific `ulimit` to enable crash collection.  The ulimit
        # command must be invoked in same shell instance of that runs the
        # tests.
        if: startsWith(matrix.os, 'ubuntu')
        env:
          LANG: en_US
        run: |
          ulimit -c unlimited 
          cd build
          sudo ctest --verbose
      
      - name: Prep bins for achive (linux)
        # Copies all of the binary files into one directory for ease in
        # archiving. Directory contents are then marked readable for the
        # archive step.
        if: failure() && startsWith(matrix.build_type, 'Debug') && ( startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macos') )
        shell: bash
        run: |
          sudo rm -rf /tmp/bins/* || :
          sudo mkdir -p /tmp/bins/
          sudo rm -rf ./build/app/tests/firebase_test
          sudo cp -f ./build/*/tests/firebase* /tmp/bins
          sudo chmod -R +rwx /tmp/bins/* || :

      - name: Prep crash data for archive (linux)
        # Marks the contents of the core dump directory to be readable for the
        # archiving step on linux.
        shell: bash
        if: failure() && startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'ubuntu')
        run: |
          sudo chmod -R +rwx /tmp/cores/* || :

      - name: Prep crash data for archive (macos)
        # Freshly made diagnostic reports are marked as readable for
        # the archive step. Note: for some reason /tmp/cores doesn't survive
        # long enough for archiving on mac, so prep the DiagnosticReports
        # directory instead.
        shell: bash
        if: failure() && startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'macos')
        run: |
          sudo chmod -R +rwx ~/Library/Logs/DiagnosticReports/* || :           

      - name: Archive crashes and binaries (linux)
        uses: actions/upload-artifact@v2
        if: failure() && startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'ubuntu')
        with:
          name: crashes-${{ matrix.os }}-${{ matrix.build_type }}-${{ matrix.architecture }}-${{ matrix.python_version }}
          path: |
            /tmp/cores/*
            /tmp/bins/*

      - name: Archive crashes (mac)
        uses: actions/upload-artifact@v2
        if: failure() && startsWith(matrix.build_type, 'Debug') && startsWith(matrix.os, 'macos')
        with:
          name: crashes-${{ matrix.os }}-${{ matrix.build_type }}-${{ matrix.architecture }}-${{ matrix.python_version }}
          path: |
            ~/Library/Logs/DiagnosticReports/*
            /tmp/bins/*
