name: iOS Builds

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    name: ios-macos-latest
    runs-on: macos-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: "x64"

      - name: Install prerequisites
        run: |
          build_scripts/ios/install_prereqs.sh

      - name: Build SDK
        run: |
          build_scripts/ios/build.sh -b ios_build -s .
