name: Retry Test Failures
on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID to check and retry'
        default: ''
        required: true

jobs:
  check_results_and_retry_if_needed:
    name: check-results-and-retry-if-needed
    runs-on: ubuntu-22.04
    steps:
      - name: Get token for firebase-workflow-trigger
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.WORKFLOW_TRIGGER_APP_ID }}
          private_key: ${{ secrets.WORKFLOW_TRIGGER_APP_PRIVATE_KEY }}

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch_name }}
          fetch-depth: 0
          submodules: false

      - name: Install prerequisites
        run: |
          python scripts/gha/install_prereqs_desktop.py
          python -m pip install requests

      - name: Wait 3 minutes for run to finish
        run: |
          sleep 180

      - name: Run test failure retry script
        run: |
          python scripts/gha/retry_test_failures.py --token '${STEPS_GENERATE_TOKEN_OUTPUTS_TOKEN}' --run_id '${GITHUB_EVENT_INPUTS_RUN_ID}'
        env:
          STEPS_GENERATE_TOKEN_OUTPUTS_TOKEN: ${{ steps.generate-token.outputs.token }}
          GITHUB_EVENT_INPUTS_RUN_ID: ${{ github.event.inputs.run_id }}
